.circle-score {
    width: 80px;
    height: 80px;
    border: 4px solid #D90429; /* verde estilo PageSpeed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #D90429;
    font-size: 1.5rem;
    margin: 0 auto;
}

.navbar-charra{
    background-color: #FF233C;
}

.section-dark{
    background-color: #8D99AEAA;
}

.color-red{
    color: #D90429;
}

.shadow-red {
    box-shadow: 0 1rem 3rem rgba(217, 4, 41, 0.175);
}

.card-header img {
    width: 100%;
    display: block;
    border-radius: 15%;
    margin: 0;
}
.mySwiper {
    min-height: 210px;
}

.mySwiper .card-header {
    min-height: 190px;
}
.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card-cliente {
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

@media (min-width: 768px) {
    .mySwiper {
        min-height: 320px;
    }

    .mySwiper .card-header {
        min-height: 225px;
    }
}

@media (min-width: 1200px) {
    .mySwiper .card-body {
        min-height: 205px;
    }
}